.search-container {
    text-align: center;
    margin: 20px;
  }
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 250px;
    font-size: 16px;
    outline: none;
    font-family: 'Unbounded', sans-serif;
    color: black
}

.search-button {
    padding: 10px 20px;
    background-color: #1559a2; /* Color de fondo del botÃ³n */
    color: white; /* Color del texto del botÃ³n */
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Efecto de transiciÃ³n al pasar el mouse */
    font-family: 'Unbounded', sans-serif;
  }

.search-button:hover {
    background-color: #4b80b8; /* Nuevo color de fondo al pasar el mouse */
}
