.search-container {
    text-align: center;
    margin: 20px;
  }
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 250px;
    font-size: 16px;
    outline: none;
    font-family: 'Unbounded', sans-serif;
    color: black
}

.search-button {
    padding: 10px 20px;
    background-color: #1559a2;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Unbounded', sans-serif;
  }

.search-button:hover {
    background-color: #4b80b8;
}
