* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: rgba(26, 36, 173, 0.653);
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: #FFF;
    margin: 30px 10px 10px 10px;
    font-size: 14px;
}

.article {
    text-align: center;
}

.article-image {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    height: auto;
}

.article-title,
.article-artist {
    margin: 10px 0;
    font-family: 'Unbounded', sans-serif;
}



.article-description {
    font-weight: bold;
    font-family: 'Unbounded', sans-serif;

}

.article-button {
    font-family: 'Unbounded', sans-serif;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.article-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}