
.detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    
}


.nombre {
    font-size: 24px;
    /* Tamaño de fuente grande */
    font-weight: bold;
    /* Texto en negrita */
    margin-bottom: 10px;
    /* Espacio entre el nombre de la canción y la canción */
    margin: 30px;
    font-family: 'Unbounded', sans-serif;
}
.art-nom{
    font-size: 16px;
    font-family: 'Unbounded', sans-serif;
    margin-bottom: 20px;
}